.loginwrapper{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login{
    background-color: whitesmoke;
    padding: 100px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.loginwrapper img{
    width: 250px;
    margin-bottom: 15px;
}

.gmail_login{
    background-color: #4385f5;
    border: 0;
    padding:15px 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    outline: 0;
    cursor: pointer;
    border-radius: 10px;
}